h1 {
  color: crimson;
}
h1 span {
  font-size: 50px;
}

.success {
  padding: 5px;
  background-color: aqua;
  border: 1px solid black;
  margin: 5px;
}

.alert {
  padding: 5px;
  background-color: crimson;
  border: 1px solid black;
  margin: 5px;
}

h2 {
  color: aquamarine;
}

.home {
  color: brown;
}
.home_bin {
  color: cadetblue;
}
.home_bin_content {
  color: cornflowerblue;
}
